/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
.m-game-card .m-start .btn-start, .m-game-card .b-notice .icon, .m-game-card .b-notice .notice, .m-game-card .btn-next {
    background-image:url(../../images/xfbg.png));
    background-repeat: no-repeat;
}

.m-game-card .operate, .m-game-card .list-card {
    zoom: 1;
}

.m-game-card .operate:after, .m-game-card .list-card:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.m-game-card .b-notice, .m-game-card .b-notice .notice, .m-game-card .list-card li {
    float: left;
    _display: inline;
}

.m-game-card .summary {
    background: #f7c16c;
    color: #a24b32;
}

.m-game-card .m-start {
    position: relative;
}

.m-game-card .m-start img {
    width: 100%;
    height: 100%;
}

.m-game-card .m-start .btn-start {
    position: absolute;
    width: 184px;
    height: 56px;
    background-position: 0px -148px;
    bottom: 38px;
    left: 236px;
    text-indent: -9999px;
}

.m-game-card .m-start .btn-start:hover {
    background-position: 0px -84px;
}

.m-game-card .m-going {
    background: url("/images/index_with_mxs/ffl/bg2.jpg") no-repeat;
    width: 100%;
    height: 100%;
}

.m-game-card .operate {
    padding-top: 13px;
}

.m-game-card .b-notice {
    padding-left: 68px;
    position: relative;
}

.m-game-card .b-notice .icon {
    width: 56px;
    height: 58px;
    position: absolute;
    top: -13px;
    left: 6px;
}

.m-game-card .b-notice .icon1 {
    background-position: 0px -212px;
}

.m-game-card .b-notice .icon2 {
    background-position: -64px -212px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.m-game-card .b-notice .notice {
    width: 289px;
    height: 34px;
    padding-left: 15px;
    background-position: 0px 0px;
    line-height: 34px;
    color: #fff66b;
    position: relative;
}

.m-game-card .time {
    width: 86px;
    height: 30px;
    float: right;
    border: 2px solid #e3e1df;
    background: rgba(0, 0, 0, 0.24);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D000000', endColorstr='#3D000000');
    background: transparent \9;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-family: Arial;
    color: #ff9b42;
    border-radius: 0px \9;
}

.m-game-card .btn-next {
    width: 84px;
    height: 34px;
    line-height: 34px !important;
    color: #fff !important;
    text-align: center;
    background-position: -128px -212px;
    float: right;
    margin: 0 11px 0 9px;
}

.m-game-card .btn-next:hover {
    background-position: -192px -148px;
}

.m-game-card .btn-next.btn-next-gray {
    background-position: -192px -84px;
    cursor: default;
}

.m-game-card .btn-next.btn-next-gray:hover {
    background-position: -192px -84px;
}

.m-game-card .list-card {
    margin-top: 15px;
}

.m-game-card .list-card li {
    width: 110px;
    height: 132px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    cursor: pointer;
    margin-top: 10px;
}

.m-game-card .b-card, .m-game-card .f-card {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-game-card .f-card {
    z-index: 2;
    width: 110px;
    height: 132px;
    cursor: pointer;
}

.m-game-card .b-card {
    z-index: 1;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    width: 110px;
    height: 132px;
}

.m-game-card .active .f-card {
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.m-game-card .active .b-card {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.m-game-card .level1 {
    padding-left: 110px;
}

.m-game-card .level1 li {
    margin-right: 45px;
}

.m-game-card .level2 {
    padding-left: 60px;
}

.m-game-card .level2 li {
    margin-right: 27px;
}

.m-game-card .level3 {
    padding-left: 30px;
}

.m-game-card .level3 li {
    margin-right: 8px;
}

.m-game-card .m-success {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 50%;
    margin-top: -125px;
    left: 50%;
    margin-left: -150px;
    display: none;
    z-index: 5;
}

.m-game-card .m-success img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
}

.m-game-card .m-game-success .b-notice .icon1 {
    -webkit-animation: photoChange 2s infinite;
    -moz-animation: photoChange 2s infinite;
    animation: photoChange 2s infinite;
}

.m-game-card .m-game-success .b-notice .icon2 {
    -webkit-animation: photoChange 2s 1s infinite;
    -moz-animation: photoChange 2s 1s infinite;
    animation: photoChange 2s 1s infinite;
}

.m-game-card .m-game-success .b-notice .notice {
    -webkit-animation: noticeBg 2s infinite;
    -moz-animation: noticeBg 2s infinite;
    animation: noticeBg 2s infinite;
}

.m-game-card .m-game-success .b-notice .txt {
    -webkit-animation: rotateIn 1s .2s ease both;
    -moz-animation: rotateIn 1s .2s ease both;
    animation: rotateIn 1s .2s ease both;
}

@-webkit-keyframes photoChange {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0;
    }
}

@-moz-keyframes photoChange {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0;
    }
}

@keyframes photoChange {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0;
    }
}

@-webkit-keyframes noticeBg {
    0%, 50% {
        background-position: 0px -42px;
    }
    50.01%, 100% {
        background-position: 0px 0px;
    }
}

@-moz-keyframes noticeBg {
    0%, 50% {
        background-position: 0px -42px;
    }
    50.01%, 100% {
        background-position: 0px 0px;
    }
}

@keyframes noticeBg {
    0%, 50% {
        background-position: 0px -42px;
    }
    50.01%, 100% {
        background-position: 0px 0px;
    }
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-5deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
}

@-moz-keyframes rotateIn {
    0% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(-5deg);
        opacity: 0;
    }
    100% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform-origin: center center;
        transform: rotate(-5deg);
        opacity: 0;
    }
    100% {
        transform-origin: center center;
        transform: rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes xs {
    0%, 99.99% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes xs {
    0%, 99.99% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(0);
    }
}

@keyframes xs {
    0%, 99.99% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

