.m-game-diff .m-start .entry .entry-item a, .m-game-diff .m-going .tip, .m-game-diff .m-going .operate .btn-operate, .m-game-diff .m-going .img-group .img, .m-game-diff .m-going .img-group .img .i-complete, .m-game-diff .m-going .img-group .img .choose-list .choose-item .i-hook, .m-game-diff .m-end .tip, .m-game-diff .m-end .operate .btn-operate, .m-game-diff .m-end .transition {
  background-image: url("/images/index_with_mxs/zhaocha/game-diff.png");
  background-repeat: no-repeat; }

.m-game-diff .m-start .entry, .m-game-diff .m-going .img-group, .m-game-diff .m-going .img-group .img .choose-list, .m-game-diff .m-going .tit-group {
  zoom: 1; }
  .m-game-diff .m-start .entry:after, .m-game-diff .m-going .img-group:after, .m-game-diff .m-going .img-group .img .choose-list:after, .m-game-diff .m-going .tit-group:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both; }

.m-game-diff .m-start .entry .entry-item, .m-game-diff .m-going .img-group .img, .m-game-diff .m-going .img-group .img .choose-list .choose-item, .m-game-diff .m-going .tit-group p {
  float: left;
  _display: inline; }

.m-game-diff .summary {
  background-color: #1d407d;
  color: #90bff3; }

.m-game-diff .m-start {
  position: relative; }
  .m-game-diff .m-start img {
    width: 100%;
    height: 100%; }
  .m-game-diff .m-start .entry {
    _width: 624px;
    height: 238px;
    position: absolute;
    top: 132px;
    left: 20px;
    margin-right: -24px;
    _margin-right: -30px; }
    .m-game-diff .m-start .entry .entry-item {
      width: 184px;
      height: 238px;
      margin-right: 24px; }
      .m-game-diff .m-start .entry .entry-item a {
        display: block;
        height: 100%;
        background-position: -302px -282px;
        position: relative; }
        .m-game-diff .m-start .entry .entry-item a:hover {
          background-position: -568px 0px; }
        .m-game-diff .m-start .entry .entry-item a img {
          width: 140px;
          height: 180px;
          position: absolute;
          left: 50%;
          bottom: 26px;
          margin-left: -70px; }

.m-game-diff .m-going {
  position: relative;
  width: 640px;
  height: 380px; }
  .m-game-diff .m-going img {
    width: 100%;
    height: 100%; }
  .m-game-diff .m-going .tip {
    width: 249px;
    height: 36px;
    padding: 11px 30px 9px 15px;
    position: absolute;
    left: 118px;
    top: 22px;
    color: #10eaff;
    font-size: 14px;
    line-height: 18px;
    background-position: -302px -561px; }
  .m-game-diff .m-going .operate {
    width: 94px;
    height: 40px;
    position: absolute;
    top: 29px;
    right: 18px; }
    .m-game-diff .m-going .operate .btn-operate {
      display: block;
      width: 94px;
      height: 40px;
      border: none;
      background-position: -604px -561px;
      color: #fffdcb;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      cursor: pointer; }
      .m-game-diff .m-going .operate .btn-operate:hover {
        background-position: -85px -625px; }
  .m-game-diff .m-going .img-group {
    width: 604px;
    padding: 0 18px;
    position: absolute;
    top: 88px;
    left: 0; }
    .m-game-diff .m-going .img-group .img {
      width: 294px;
      height: 271px;
      background-position: 0px -282px;
      position: relative; }
      .m-game-diff .m-going .img-group .img img {
        width: 280px;
        height: 255px;
        margin-top: 7px;
        margin-left: 7px; }
      .m-game-diff .m-going .img-group .img .i-complete {
        display: block;
        width: 89px;
        height: 84px;
        background-position: -662px -422px;
        position: absolute;
        bottom: 14px;
        right: 14px;
        z-index: 12; }
      .m-game-diff .m-going .img-group .img .choose-list {
        width: 280px;
        height: 255px;
        position: absolute;
        top: 7px;
        left: 7px; }
        .m-game-diff .m-going .img-group .img .choose-list .choose-item {
          display: block;
          width: 70px;
          height: 51px;
          position: relative;
          cursor: pointer;
          background-image: url("/images/index_with_mxs/zhaocha/item.png"); }
          .m-game-diff .m-going .img-group .img .choose-list .choose-item .i-hook {
            display: none;
            width: 35px;
            height: 37px;
            background-position: -691px -246px;
            position: absolute;
            z-index: 11;
            left: 50%;
            top: 50%;
            margin-left: -17px;
            margin-top: -18px; }
      .m-game-diff .m-going .img-group .img.standard {
        margin-right: 16px; }
  .m-game-diff .m-going .tit-group {
    width: 640px;
    height: 21px;
    position: absolute;
    left: 0;
    bottom: 0; }
    .m-game-diff .m-going .tit-group p {
      width: 320px;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      color: #90bff3; }

.m-game-diff .m-end {
  position: relative;
  width: 640px;
  height: 380px; }
  .m-game-diff .m-end img {
    width: 100%;
    height: 100%; }
  .m-game-diff .m-end .tip {
    width: 249px;
    height: 36px;
    padding: 11px 30px 9px 15px;
    position: absolute;
    left: 118px;
    top: 22px;
    color: #ae4200;
    font-size: 14px;
    line-height: 18px;
    background-position: 0px -561px; }
  .m-game-diff .m-end .operate {
    width: 94px;
    height: 40px;
    position: absolute;
    top: 29px;
    right: 18px; }
    .m-game-diff .m-end .operate .btn-operate {
      display: block;
      width: 94px;
      height: 40px;
      border: none;
      background-position: -604px -561px;
      color: #fffdcb;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      cursor: pointer; }
      .m-game-diff .m-end .operate .btn-operate:hover {
        background-position: -85px -625px; }
  .m-game-diff .m-end .transition {
    width: 560px;
    height: 274px;
    background-position: 0px 0px;
    position: absolute;
    top: 99px;
    left: 39px; }
    .m-game-diff .m-end .transition .bg {
      width: 510px;
      height: 260px;
      background-color: #162b51;
      position: absolute;
      top: 6px;
      left: 25px;
      z-index: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
    .m-game-diff .m-end .transition .scenes {
      display: block;
      width: 510px;
      height: 259px;
      position: absolute;
      top: 6px;
      left: 25px;
      z-index: 11; }
      .m-game-diff .m-end .transition .scenes img {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

.bounceInRight {
  animation-name: bounceInRight; }

/*# sourceMappingURL=../cssMap/game-diff.css.map */
