<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/admin/static/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/admin/static/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/admin/static/Css/style.css" />
    <script type="text/javascript" src="/admin/static/Js/jquery.js"></script>
    <script type="text/javascript" src="/admin/static/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="/admin/static/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/admin/static/Js/ckform.js"></script>
    <script type="text/javascript" src="/admin/static/Js/common.js"></script>



    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="index.html" method="get">
    <a href="{:url('Community/add')}"><button type="button" class="btn btn-success" id="addnew">新增用户</button></a>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>ID</th>
        <th>文章标题</th>
        <!--<th>文章内容</th>-->
        <th>状态</th>
        <th>权重</th>
        <th>时间</th>
        <th>操作</th>
    </tr>
    </thead>
    {volist name="list" id="community"}
    <tr>
        <td>{$community.id}</td>
        <td>{$community.title}</td>
        <!--<td>{$community.content}</td>-->
        <td>{$community.status==1?"正常":"失效"}</td>
        <td>{$community.weight}</td>
        <td>{$community.create_time|date="Y-m-d H:i:s",###}</td>
        <td>
            <a href="{:url('edit?id='.$community['id'])}">编辑</a>
            <a href="{:url('del?id='.$community['id'])}">删除</a>

        </td>
    </tr>
    {/volist}
</table>
<div>
    <ul>
        {$list->render()}
    </ul>
</div>
</body>
</html>
<script>
    $(function () {


        $('#addnew').click(function(){

            window.location.href="index/user/add.html";
        });


    });

    function del(id)
    {


        if(confirm("确定要删除吗？"))
        {

            var url = "index.html";

            window.location.href=url;

        }




    }
</script>